# Movie Ratings

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.decomposition import NMF

In [2]:
MV_users = pd.read_csv('data/movies/users.csv')
MV_movies = pd.read_csv('data/movies/movies.csv')
train = pd.read_csv('data/movies/train.csv')
test = pd.read_csv('data/movies/test.csv')

In [3]:
train.head()

    uID   mID  rating
0   744  1210       5
1  3040  1584       4
2  1451  1293       5
3  5455  3176       2
4  2507  3074       5

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700146 entries, 0 to 700145
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   uID     700146 non-null  int64
 1   mID     700146 non-null  int64
 2   rating  700146 non-null  int64
dtypes: int64(3)
memory usage: 16.0 MB

In [10]:
test.head()

    uID   mID  rating
0  2233   440       4
1  4274   587       5
2  2498   454       3
3  2868  2336       5
4  1636  2686       5

In [ ]:
nmf = NMF(random_state = 42).fit(train)

## Discussion

Discuss the results and why sklearn's non-negative matrix facorization library did not work well compared to simple baseline or similarity-based methods weâ€™ve done in Module 3. Can you suggest a way(s) to fix it?